

/* 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 1rem 2rem;
  width: 97%;
  position: relative;
  z-index: 10;
}

.logo {
  height: 45px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff64b0;
}

.nav-button {
  background-color: #ff1e74;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #e60063;
} */

.navbar {
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(to right, #7f1d1d, #471548); /* update gradient */
}

.logo {
  height: 40px;
}

.nav-section {
  display: flex;
  align-items: center;
  
}

.nav-left {
  flex: 1;
}

.nav-center {
  flex: 2;
  justify-content: center;
  gap: 10px;
}

.nav-center a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-center a:hover {
  color: #f472b6;
}

.nav-right {
  flex: 1;
  justify-content: flex-end;
}

.nav-button {
  background-color: #f472b6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-button:hover {
  background-color: #d63f7f;
}
